{% load static %}
{% block content %}


<div class="row">
	<div class="col-md-6">
		<div class="card card-body">

			<form action="" method="POST">
				{% csrf_token %}
				<p>Vehicle Type(*):</p>
                                {{ form.vehicle_type}}
				<hr>
                                <p>License Plate Number(*):</p>
                                {{ form.license_plate_number}}
				<hr>
				<p>Max Number Passengers(*):</p>
                                {{ form.max_number_passengers}}
				<hr>
                                <p>Special Request:</p>
                                {{ form.special_request}}
				<hr>
				
				<input type="submit" name="Submit">
			</form>

		</div>
	</div>
</div>


{% endblock %}

